@import "../../../shared/assets/CSS/colors.css";

:root {
    --star-size: 22px;
    --star-color: #ccc;
    --star-background: var(--primary-red);
}

.Stars {
    --percent: calc(2.6 / 5 * 100%);
    /* --percent: calc(var(--rating) / 5 * 100%); */
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(var(--star-background)),
            to(var(--star-color)));
    background: linear-gradient(90deg,
            var(--star-background) var(--percent),
            var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}