@import "../../../../shared/assets/CSS/colors.css";

.AllRestaurants {
    /* margin: 2.5rem auto; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.AllRestaurants p {
    font-size: 12px;
}

.AllRestaurants span {
    color: #9D9D9C;
    font-size: 11px;
}

.Restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 1px solid #ccc;
    width: 17%;
    margin: 1rem auto;
    transform: scale(1);
    /* transition: all .3s ease; */
}

.Image {
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.Image img {
    height: 138px;
    width: 138px;
    padding: .8rem .6rem;
}

.detail {
    color: var(--primary-dark-red);
    text-align: center;
    /* padding: 0 0.5rem; */
    width: 90%;
    /* transition: all .3s ease; */
}

.Restaurant:hover .detail {
    color: var(--primary-red);
}

.Restaurant:hover {
    transform: scale(1.0);
    /* z-index: 100;     */
}

.detail p {
    padding-bottom: .5rem;
    color: var(--primary-gray);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* z-index: 100; */
}

.detail h4 {
    margin: .5rem 0;
}

@media (max-width: 1000px) {
    .AllRestaurants {
        padding: 0 .5rem;
    }

    .Restaurant {
        width: 24%;
    }
}
@media (max-width: 788px) {
    .Restaurant {
        width: 48%;
    }
}

.Location {}

.Location img {}

.Location p {}

.DeliveryRatings {}

.ratingIcon,
.deliveryTime {}

.deliveryTime p,
.ratingIcon p {}