@import "../../../../shared/assets/CSS/colors.css";

.AllRestaurants {
    width: 100%;
    margin: 2.5rem auto;
    /* padding: .5rem; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

.AllRestaurants p {
    font-size: 12px;


}

.AllRestaurants span {
    color: #9D9D9C;
    font-size: 11px;
}

.Restaurant {
    background-color: white;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    border-radius: 2px;
    text-decoration: none;
    margin: .4rem auto;
    box-shadow: 2px 2px 3px -1px #ccc;
}

.Image {
    width: 58px;
    height: 58px;
}

.detail {
    margin-left: 10px;
    text-align: left;
    color: var(--primary-gray);
}

.detail p {

    color: var(--primary-gray);
    /* color: rgb(109, 109, 109); */
    margin: 0.5rem 0;
}

.detail h3 {
    color: var(--primary-red);
}

.Location {
    display: flex;
    align-items: center;
}

.Location img {
    opacity: 0.2;
}

.Location p {
    margin-left: .8rem;
    color: #9D9D9C;
}

.DeliveryRatings {
    display: flex;
    margin-top: .5rem;
}

.ratingIcon,
.deliveryTime {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.deliveryTime p,
.ratingIcon p {
    font-weight: bold;
    margin-left: .6rem;
}