.Checkout {
    flex-flow: column;
}

.OrderSummary {
    width: 100%;
    margin-bottom: 2rem;
}

.DeliveryAddress {
    width: 100%;
    margin-bottom: 2rem;
}

.AddSpecialRequest {
    width: 100%;
    margin-bottom: 2rem;
}
.PaymentSummary {
    width: 100%;
    margin-bottom: 2rem;
}