.AddAddressForm_Col {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.AddAddressForm_Row {
    width: 49%;
}

.AddAddressForm_Selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.AddAddressForm_Selection_Cat {
    width: 32%;
    border: 1px solid #ccc;
    color: rgb(172, 172, 172);
    text-align: center;
    padding: .5rem 0;
    cursor: pointer;
    border-radius: 4px;
}

.Active {
    border: 1px solid green;
    color: green;
    font-weight: bold;
}

.AddAddressForm_Buttons {
    display: flex;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    padding-top: 25px;
}

@media (max-width: 690px) {
    .AddAddressForm_Col {
        flex-flow: column;
    }


    .AddAddressForm_Row {
        width: 99%;
    }
}