@import '../../../shared/assets/CSS/colors.css';

.Credits {
    /* text-align: left; */
}

.CreditsDetail {}

.CreditsDetail span {
    color: var(--primary-red);
}

.CreditsDetail_Toggle {
    display: flex;
    margin: 2rem auto;
    text-align: center;
    width: 60%;
}

.CreditsDetail__Content {
    margin: 1rem auto;
}

.CreditsDetail_Toggle h5 {
    width: 50%;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ed1b24;
    background-color: #ed1b24;
    cursor: pointer;
    margin: 0 auto;
    transition: all .3s ease;
}

.Inactive {
    border: 1px solid rgb(223, 223, 223) !important;
    background-color: white !important;
    color: black !important;
}

.CreditsDetail_Table {
    width: 100%;
    margin: 2rem 0;
    border: 1px solid #ccc;
}

.CreditsDetail_Table th {
    border-bottom: 3px solid #ccc;
    padding: .8rem .5rem;
    background-color: #fdfdfd;
}

.CreditsDetail_Table td {
    background-color: #fafafa;
    border-bottom: 2px solid #ccc;
    padding: .8rem .5rem;
}

.RedeemCode {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.RedeemCode_Enter {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: bold;
}

.RedeemCode_Enter input {
    margin: 2rem 0 2rem 1.5rem;
    padding: .4rem .6rem;
    border: 1px solid #ccc;
    width: 30%;
    border-radius: 5px;
    color: rgb(109, 109, 109);
}

@media (max-width : 700px) {
    .RedeemCode_Enter {
        flex-flow: column;
        align-items: flex-start;
        margin: 1rem 0;
    }

    .RedeemCode_Enter input {
        margin: 1rem 0;
        width: 100%;
    }
}