.OrderList {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid #ccc;
    padding: 1rem 1rem;
    margin-bottom: 10px;
    flex-flow: column;
}

.orderDetails {
    display: flex;
}

.orderDetails div {
    width: 100%;
    /* align-self: flex-end; */

}

.SideDetails {
    margin-top: 1rem;
    text-align: left;
    /* width: 250px; */
    display: flex;
    flex-flow: row;
    /* align-items: flex-start; */
    color: rgb(160, 160, 160);
}

.SideDetails p {
    margin: 0px;
}


.Subtotal {
    display: flex;
    flex-flow: column;
}

.Subtotal_Items {
    display: flex;
    justify-content: space-between;
}

.Subtotal_Items p {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}