.Orders {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Orders p {
    margin-top: 1.5rem;
    font-weight: bold;
}

.OrdersList {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.OrdersList h4 {
    text-align: left;
    margin: 20px auto;
}