.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    /* margin: 20px 0; */
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
    display: flexs;
    align-items: center;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: var(--height-width);
    width: var(--height-width);
    // width: 20px;
    background: #e7e7e7;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #ececec;
}

.control input:checked~.control_indicator {
    background: var(--background-color-checkbox);
    transition: all .1s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: var(--radius-check);
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: var(--background-color-checkbox);
    // background: #ed1b24;
    transition: all .1s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: var(--radius-check);
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
    border-radius: var(--radius-check);
}

.control_indicator:after {
    box-sizing: unset;
    content: "";
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    // left: 5px;
    left: var(--tick-left);
    top: var(--tick-top);
    // top: 2px;
    // width: 3px;
    height: var(--tick-height);
    // height: 8px;
    width: var(--tick-width);
    border: solid #ffffff;
    border-width: 0 2px var(--tick-box) 0;
    // transform: rotate(45deg);
    transform: rotate(var(--tick-degree));
    // 2 11 180
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}