.AddOnItems {
    width: 96%;
    margin: 0 auto;
}

.AddOnItems__Addons {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    margin-bottom: 32px;
}

.AddOnItems__Addons h3 {
    background-color: #efefef;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
}

.AddOnItems__List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #dadada;
    border-top: 0px solid transparent;
}

.AddOnItems__List_ImageHeading {
    color: var(--primary-dark-red);
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.AddOnItems__List_ImageHeading p {
    font-size: .825rem;
    color: rgb(82, 82, 82);
    margin-top: 5px;
}

.AddOnItems__List_ImageHeading h4 {
    /* margin-left: 10px; */
}

.AddOnItems__List_PriceForm {
    display: flex;
    align-items: center;
}

.AddOnItems__List_Form {
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.AddOnItems__List_Form label {
    color: #ffb711;
    font-size: 22px;
    width: 13px;
    height: 12px;
    /* margin: 2px; */
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 2px;
    line-height: 10px;
}

.AddOnItems__List_Form input {
    width: 20px;
    border: none;
    margin: 0 3px 0 7px;
    text-align: center;
}

.AddOnItems__List_Form input::-webkit-outer-spin-button,
.AddOnItems__List_Form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.AddOnItems__List_Form input[type="number"] {
    -moz-appearance: textfield;
}

.AddOnItems__Extras {
    margin-bottom: 32px;
}

.AddOnItems__Extras h4 {
    background-color: #f0f0f0;
    margin-bottom: 12px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
}

.AddOnItems__Extras__Checkboxes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.AddOnItems__Extras__Checkboxes>div {
    width: 33.3%;
    font-weight: 400;
}

.AddOnItems__Extras__Checkboxes>div>label>p {
    font-weight: 500 !important;
}

.AddOnItems__Extras__Checkboxes>div>div>label>p {
    font-weight: 500 !important;
}

.AddOnItems__Extras_List {
    display: flex;
    flex-flow: column;
    /* margin: 20px 10px 0; */
}

.AddOnItems__Extras_List label {
    width: 33.3%;
}

.AddOnItems__Extras_Notes {
    width: 100%;
    margin: 20px auto;
}

.AddOnItems__Extras_Notes textarea {
    width: 100%;
    border: 1px solid #c7c7c7;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.AddOnItems__Extras_Notes textarea::placeholder {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.AddOnItems__Button {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 500px) {
    .AddOnItems__Extras_List {
        flex-flow: column;
    }
}