.Cart {
    /* margin: 0 10px; */
    /* height: 200px; */
    background-color: white;
    /* background-color: #f7f7f7; */
    border-bottom: 3px solid #ccc;
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.Cart>p {
    font-size: 1.2rem;
    padding: .6rem 1rem;
    background-color: var(--primary-dark-red);
    color: white;
    border-radius: 4px 4px 0 0;
}

.Cart_Content {
    padding: 1rem 0rem;
}

.CartListItems {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    /* margin-bottom: 15px; */
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    background-color: #f7f7f7;
    padding: .9rem .4rem;
}

.CartListItems_Name {
    text-align: left;
    width: 70%;
    margin-right: 5px;
    display: flex;
}

.toolTip {
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.toolTip .toolTipText {
    bottom: 140%;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    white-space: wrap;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    display: block;
    z-index: 1;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

.toolTip:hover .toolTipText {
    visibility: visible;
    /* transition: all .1s linear; */
}

@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.toolTip .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.toolTipText span::after {
    content: ", ";
}

.toolTipText span:last-of-type:after {
    content: "";
}

.CartListItems_PriceRemoveButton {
    display: flex;
    align-items: center;
    /* width: 25%; */
}

.CartListItems_PriceRemoveButton p:nth-child(2) {
    /* padding: .1rem; */
    /* font-size: .825rem; */
    width: 12px;
    height: 13px;
    text-align: center;
    margin: 0 auto;
    margin-left: 7px;
    border-radius: 100%;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.CartListItems_PriceRemoveButton p:nth-child(2):hover {
    background-color: #b40008;
}

.Bucket__Content_List_Form {
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    /* width: 25%; */
}


.Bucket__Content_List_Form label {
    color: #ffb711;
    font-size: 22px;
    width: 7px;
    height: 12px;
    /* margin: 2px; */
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 2px;
    line-height: 10px;
}

.Bucket__Content_List_Form input {
    width: 20px;
    border: none;
    margin: 0 3px 0 7px;
    text-align: center;
}

.Bucket__Content_List_Form input::-webkit-outer-spin-button,
.Bucket__Content_List_Form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.Bucket__Content_List_Form input[type="number"] {
    -moz-appearance: textfield;
}