.Cart {
    /* margin: 0 10px; */
    /* height: 200px; */
    background-color: white;
    /* background-color: #f7f7f7; */
    border-bottom: 3px solid #ccc;
    font-size: .875rem;
    margin-bottom: 32px;
}

.Cart>p {
    font-size: 1.2rem;
    padding: .6rem 1rem;
    background-color: var(--primary-dark-red);
    color: white;
    border-radius: 4px 4px 0 0;
}

.Cart_Content {
    padding: 1rem 0rem;
}

.CartListItems {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    /* margin-bottom: 15px; */
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    background-color: #f7f7f7;
    padding: .9rem .4rem;
}

.CartListItems p {
    text-align: left;
}

.CartListItems_PriceRemoveButton {
    display: flex;
    align-items: center;
}

.CartListItems_PriceRemoveButton p:nth-child(2) {
    /* padding: .1rem; */
    width: 16px;
    height: 16px;
    text-align: center;
    margin: 0 auto;
    margin-left: 6px;
    border-radius: 100%;
    background-color: #b40008;
    color: white;
    cursor: pointer;
}

.Bucket__Content_List_Form {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}


.Bucket__Content_List_Form label {
    color: #ffb711;
    font-size: 22px;
    width: 7px;
    height: 12px;
    /* margin: 2px; */
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 2px;
    line-height: 10px;
}

.Bucket__Content_List_Form input {
    width: 20px;
    border: none;
    margin: 0 3px 0 7px;
    text-align: center;
}

.Bucket__Content_List_Form input::-webkit-outer-spin-button,
.Bucket__Content_List_Form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.Bucket__Content_List_Form input[type="number"] {
    -moz-appearance: textfield;
}